<table class="table table-hover table-inverse sortable">
  <thead>
    <tr>
      <th>Guardian name</th>
      <th>K/D</th>
      <th>KA/D</th>
      <th>Kills</th>
      <th>Kills per game</th>
      <th>Assists</th>
      <th>Assists per game</th>
      <th>Deaths</th>
      <th>Deaths per game</th>
      <th>Most kills</th>
      <th>Suicides</th>
      <th>Games</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= number_to_human user.send("#{type}_base_stat_kd"), precision: 3 %></td>
        <td><%= number_to_human user.send("#{type}_base_stat_kills_assists"), precision: 3 %></td>
        <td><%= user.send("#{type}_base_stat_kills") %></td>
        <td><%= calculate_avarage(user.send("#{type}_base_stat_kills"), user.send("#{type}_base_stat_games")) %></td>
        <td><%= user.send("#{type}_base_stat_assists") %></td>
        <td><%= calculate_avarage(user.send("#{type}_base_stat_assists"), user.send("#{type}_base_stat_games")) %></td>
        <td><%= user.send("#{type}_base_stat_deaths") %></td>
        <td><%= calculate_avarage(user.send("#{type}_base_stat_deaths"), user.send("#{type}_base_stat_games")) %></td>
        <td><%= user.send("#{type}_base_stat_most_kills") %></td>
        <td><%= user.send("#{type}_base_stat_suicides") %></td>
        <td><%= user.send("#{type}_base_stat_games") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
