<table class="table table-striped">
  <thead class="table-inverse">
    <tr>
      <th>Guardian name</th>
      <% @keys.each do |key| %>
        <th><%= key.humanize.upcase_first %></th>
      <% end %>
      <th>Kills</th>
    </tr>
  </thead>
  <tbody class="table-hover">
  <% @users.each do |user| %>
    <tr>
      <td><%= "#{user.name}(#{user.platform_name})" %></td>
      <% @keys.each do|key| %>
        <td><%= user.send("#{type}_kills_weapon_#{key}") %> <small class="text-muted">(<%= calculate_avarage(user.send("#{type}_kills_weapon_#{key}"), user.send("#{type}_base_stat_kills")) %>)</small></td>
      <% end %>
      <td><%= user.send("#{type}_base_stat_kills") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
