<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#base" role="tab">Base Stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ability" role="tab">Ability Kills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#primary" role="tab">Primary Kills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#secondary" role="tab">Secondary Kills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#heavy" role="tab">Heavy Kills</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="base" role="tabpanel">
    <%= render partial: 'base_stats_table', locals: { users: @users, type: @type } %>
  </div>
  <div class="tab-pane" id="ability" role="tabpanel">
    <%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(super granade melee), type: @type} %>
  </div>
  <div class="tab-pane" id="primary" role="tabpanel">
    <%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(auto_rifle hand_canon scout_rifle pulse_rifle), type: @type } %>
  </div>
  <div class="tab-pane" id="secondary" role="tabpanel">
    <%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(shotgun sniper side_arm fusion), type: @type } %>
  </div>
  <div class="tab-pane" id="secondary" role="tabpanel">
    <%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(machine_gun rocket_launcher sword), type: @type } %>
  </div>
</div>
