<h3>PvP Base Stats</h3>
<hr>
<%= render 'pvp_base_stats_table', users: @users %>

<h3>PvP Ability Kills</h3>
<hr>
<%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(super granade melee) } %>

<h3>PvP Primary Kills</h3>
<hr>
<%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(auto_rifle hand_canon scout_rifle pulse_rifle) } %>

<h3>PvP Secondary Kills</h3>
<hr>
<%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(shotgun sniper side_arm fusion) } %>

<h3>PvP Heavy Kills</h3>
<hr>
<%= render partial: 'weapon_kills_table', locals: { users: @users, keys: %w(machine_gun rocket_launcher sword) } %>
