<%= form_tag do %>
  <div class="form-group">
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name, @user.id), class: 'form-control', onchange: "this.form.submit();" %>
  </div>
<% end %>

<hr>
<table class="table table-striped">
  <thead class="table-inverse">
    <tr>
      <th>Activity name</th>
      <th>Times completed</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>K/D</th>
      <th>Wins</th>
      <th>Time spent</th>
    </tr>
  </thead
  >
  <tbody class="table-hover">
  <% user.activities.send(type).each do |activity|  %>
    <tr>
      <td><%= activity.activity_name.value %></td>
      <td><%= activity.times_completed %></td>
      <td><%= activity.kills %></td>
      <td><%= activity.deaths %></td>
      <td><%= activity.assists %></td>
      <td><%= calculate_kd(activity.kills, activity.deaths) %></td>
      <td><%= activity.wins %></td>
      <td><%= distance_of_time_in_words activity.seconds_played %></td>
    </tr>
  <% end %>
  </tbody>
</table>
