<h3><%= @user.name %></h3>

<table class="table table-striped">
  <thead class="table-inverse">
    <tr>
      <th>Activity name</th>
      <th>Times completed</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>K/D</th>
      <th>Wins</th>
      <th>Time spent</th>
    </tr>
  </thead>
  <tbody class="table-hover">
  <% @user.activities.each do |activity|  %>
    <tr>
      <td><%= activity.activity_name.value %></td>
      <td><%= activity.times_completed %></td>
      <td><%= activity.kills %></td>
      <td><%= activity.deaths %></td>
      <td><%= activity.assists %></td>
      <td><%= number_to_human activity.kd, precision: 3 %></td>
      <td><%= activity.wins %></td>
      <td><%= activity.seconds_played %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
